@import "./main/section/section.css";
@import "./main/header/headings.css";

html {
  display: flex;
  box-sizing: border-box;
}

main {
  width: 770px;
  position: absolute;
  padding-left: 96px;
  right: 0;
  margin: 0;
}

#WORKING_AT {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
}
